* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.box {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto  1fr  auto;
  grid-template-areas: "header" "main" "footer"; }

.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }

ul, ol {
  padding: 0;
  list-style-type: none; }

.texts h1, #card h1, #about h1, main h1, .container-fluid h2 h1 {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

.texts h2, #card h2, #about h2, main h2, .container-fluid h2 h2 {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

.texts h3, #card h3, #about h3, main h3, .container-fluid h2 h3 {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

.texts h4, #card h4, #about h4, main h4, .container-fluid h2 h4 {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

.texts h5, #card h5, #about h5, main h5, .container-fluid h2 h5 {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

.texts p, #card p, #about p, main p, .container-fluid h2 p {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0; }

.texts li, #card li, #about li, main li, .container-fluid h2 li {
  padding: 0.5rem;
  color: #F3F4FC;
  font-family: 'Poppins', sans-serif; }

body {
  background-color: #647d94; }

header {
  background-color: hwb(0 15% 84%/0.697);
  grid-area: header; }
  header #lista {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    header #lista li {
      text-align: center;
      background-color: #344c5c;
      font-family: 'Roboto', sans-serif;
      border-radius: 5px;
      margin: 0.7rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.2rem; }
      header #lista li:hover {
        background-color: cadetblue; }
      header #lista li a {
        text-decoration: none;
        color: #F3F4FC; }
        header #lista li a:hover {
          color: #F3F4FC; }

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #040c0b;
  grid-area: footer; }
  footer #redes {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer #redes ul {
      position: relative;
      display: flex;
      z-index: 2; }
      footer #redes ul li {
        position: relative;
        list-style: none;
        margin: 0.6rem; }
        footer #redes ul li a {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          width: 3.5rem;
          height: 3.5rem;
          color: #F3F4FC;
          font-size: 1.8em;
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(2px);
          border-radius: 10px;
          transition: 0.5s;
          overflow: hidden; }
          footer #redes ul li a:hover {
            transform: translateY(-20px); }
          footer #redes ul li a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            transform: skewX(45deg) translateX(150px); }
          footer #redes ul li a:hover::before {
            transform: skewX(45deg) translateX(-150px); }
  footer #info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: #F3F4FC; }

main {
  background-color: #647d94;
  grid-area: main;
  display: flex;
  align-items: center; }

#card {
  padding: 1rem; }
  #card h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-size: 2rem; }
  #card h3 {
    font-size: 1.5rem; }
  #card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; }

#picture {
  padding: 1rem; }
  #picture img {
    width: 240px;
    height: 360px; }

#about h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; }

#about #about__card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2); }
  #about #about__card li {
    padding: 0; }
  #about #about__card #about__text {
    display: flex; }
    #about #about__card #about__text #about__perfil img {
      width: 180px;
      height: 240px; }

main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courgette', cursive;
  font-size: 2rem; }

main #carousel {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px; }
  main #carousel a {
    text-decoration: none; }
  main #carousel h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  main #carousel img {
    display: block;
    width: 480px;
    height: 320px; }

#resume {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #resume h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3F4FC;
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    margin: 1rem; }
  #resume #cv {
    display: flex;
    justify-content: center;
    align-items: center; }
    #resume #cv img {
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      width: 360px;
      height: 480px; }
  #resume button {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.container-fluid {
  padding: 1rem; }
  .container-fluid h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-size: 2rem; }
  .container-fluid #form {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem; }

@media screen and (min-width: 320px) {
  .box {
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer"; } }

@media screen and (min-width: 480px) {
  .box {
    grid-template-rows: auto  1fr auto;
    grid-template-areas: "header" "main" "footer"; } }

@media screen and (min-width: 600px) {
  .box {
    grid-template-rows: auto  1fr auto;
    grid-template-areas: "header" "main" "footer"; } }

@media screen and (min-width: 768px) {
  .box {
    grid-template-rows: auto  1fr auto;
    grid-template-areas: "header" "main" "footer"; } }

@media screen and (min-width: 1024px) {
  .box {
    grid-template-rows: auto  1fr auto;
    grid-template-areas: "header" "main" "footer"; } }

@media screen and (min-width: 1200px) {
  .box {
    grid-template-rows: auto  1fr auto;
    grid-template-areas: "header" "main" "footer"; } }
