main{
    @extend .texts;
    h2{
        @include flexible(center);
        font-family: 'Courgette', cursive;
        font-size: 2rem;
    }
    #carousel{
        a{
            text-decoration: none;
        }
        h2{
            @include flexible(flex-start);
        }
        padding: 1rem;
        background-color: $trans-color; 
        border-radius: 10px;
        img{
            display: block;
            @include dimensions(480px,320px);
        }
    }
}
@media screen and (max-width: 600px) {
    main{
        #carousel{
            img{
                @include dimensions(320px,280px);
            }
        }
    }
}

@media screen and (max-width: 480px) {
    main{
        #carousel{
            img{
                @include dimensions(280px,220px);
            }
        }
    }
}

@media screen and (max-width: 320px) {
    main{
        #carousel{
            img{
                @include dimensions(140px,120px);
            }
        }
    }
}