#resume{
    padding: 1rem;
    @include flexible(center);
    flex-direction: column;
    h2{
        @include flexible(center);
        color: $text-color;
        font-family: 'Courgette', cursive;
        font-size: 2rem;
        margin: 1rem;
    }
    #cv{
        @include flexible(center);
        img{
            @include borde($trans-color,0.5rem);
            border-radius: 10px;
            @include dimensions(360px,480px);
        }
    }
    button{
        margin: 1rem;
        @include flexible(center);
    }
}