//npm run watch-css (corre el sass)
//BASE
@import "./base/reset";
@import "./base/colors";

//ABSTRACTS
@import "./abstracts/extends";
@import "./abstracts/mixins";
// BODY
body{
    background-color: $main-color;
}
//LAYOUT
@import "./layout/header";
@import "./layout/footer";
// MAIN
main{
    background-color: #647d94;
    grid-area: main;
    display: flex;
    align-items: center;
}
//PAGES
// HOME 
@import "./pages/home";
// ABOUT 
@import "./pages/about";
// PROYECTS
@import "./pages/proyects";
// RESUME
@import "./pages/resume";
// CONTACT
@import "./pages/contact";


//TODO:VISTAS MOBILE Y DESKTOP CON UN IF PARA AGRANDAR O ACHICAR EL TEXTO Y LAS FOTOS
//MEDIA QUERYS
@media screen and (min-width: 320px) {
    .box{
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header""main""footer";
    }
}
@media screen and (min-width: 480px) {
    .box{
        grid-template-rows: auto  1fr auto;
        grid-template-areas: "header""main""footer";
    }
}
@media screen and (min-width: 600px) {
    .box{
        grid-template-rows: auto  1fr auto;
        grid-template-areas: "header""main""footer";
    }
} 
@media screen and (min-width: 768px) {
    .box{
        grid-template-rows: auto  1fr auto;
        grid-template-areas: "header""main""footer";
    }
}
@media screen and (min-width: 1024px) {
    .box{
        grid-template-rows: auto  1fr auto;
        grid-template-areas: "header""main""footer";
    }
}
@media screen and (min-width: 1200px) {
    .box{
        grid-template-rows: auto  1fr auto;
        grid-template-areas: "header""main""footer";
    }
}